{% extends 'base.html' %}

{% block content %}
  <div class="password-reset-container">
    <h2 class="form-title">Password Reset Request</h2>
    <p class="form-description">Enter your email address, and we'll send you a link to reset your password.</p>
    <form method="POST" class="password-reset-form">
      {% csrf_token %}
      <div class="form-group">
        <strong>
        {{ form.as_p }}
        </strong>
      </div>
      <button type="submit" class="submit-btn">Send Reset Link</button>
    </form>
  </div>

{% endblock %}
